<ion-header [translucent]="true">
  <nav class=" bg-pink navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"><img class="rounded-circle"
          src="assets/icon/biblioteca.png" alt="Elingon"
          style="width: 50px; height: auto;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Bienvenido a la
              biblioteca </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
              href="clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="libros">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prestamos">
              Prestamos
            </a>

          </li>

        </ul>


        <button class="btn btn-danger ms-5 d-flex align-items-center gap-2"
          type="button" (click)="logOut()">
          <ion-icon name="exit-outline" class="fs-4"></ion-icon>
          <span (click)="logOut()">CERRAR SESIÓN</span>
        </button>
      </div>
    </div>
  </nav>
</ion-header>
