<ion-content [fullscreen]="true">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div
      class="container bg-white text-dark  p-5  rounded-5 mb-3 align-middle shadow-lg ">
      <h1>Recuperar contraseña<address></address></h1>
      <form class="form-style" (ngSubmit)="recuperarClave()"
        [formGroup]="resetUsuario">
        <div>
          <ion-input label="Correo:" type="text"
            formControlName="email"></ion-input>
        </div>

        <div class="text-center mt-3">
          <ion-button expand="full" type="submit"
            [disabled]="resetUsuario.invalid">Enviar</ion-button>
        </div>
        <div class="text-center mt-3">
          <a href="/login-new" expand="full" style="cursor: pointer;">Iniciar
            Sesion</a>
        </div>

      </form>

    </div>
  </div>
</ion-content>
