.ion-content{
    --background:#d36e70!important;
     align-items: center;
     justify-content: center;
     align-content: center;
     display: flex;
   }
   ion-col {
     background-color:#f5cecd ;
     border: solid 1px #fff;
     color: #fff;
     text-align: center;
   }
  
  .col-content{
    background-color:#fff ;
    border: solid 1px #fff;
    color: #000;
    text-align: center;
    border: solid 1px #f5cecd;
  }
  
   .text-pink{
     color: #873253;
   }
  
   .bg-pink{
     background-color:#f5cecd ;
   }
  
  .menu-rosa{
    background-color: #873253;
  }
  .bot-agregar {
    text-align: left;
  }
  
  .bot-agregar{
    margin-right: 400px;
  }