<app-header titulo="libros"></app-header>

<ion-content class="ion-content" [fullscreen]="true">
  <div class="container bg-white text-dark text-center h-100 rounded-5 mb-3 mt-3">
    <div class="d-flex align-items-center">
      <div class="bot-agregar">
        <ion-button> Agregar</ion-button>
      </div>
      <div>
        <h1 class=" text-pink text-pink pt-3 flex-grow-1 text-center">Libros</h1>
      </div>
    </div>
    <ion-grid class="grid-example">
      <ion-row class="header-row">
        <ion-col>Nombre</ion-col>
        <ion-col>Autor</ion-col>
        <ion-col>Edicion</ion-col>
      </ion-row>
      <ion-row *ngFor="let libro of libros; let id = index">
        <ion-col class="col-content">{{libro.nombre}}</ion-col>
        <ion-col class="col-content">{{libro.autor}}</ion-col>
        <ion-col class="col-content">{{libro.edicion}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
