<app-header titulo="home"></app-header>

<ion-content class="ion-content" [fullscreen]="true">
  <div class="container bg-white text-dark text-center h-100 rounded-5 mb-3">
    <h1 class=" text-pink pt-3 ">Prestamos pendientes</h1>
    <ion-grid class="grid-example">
      <ion-row class="header-row">
        <ion-col>Cliente</ion-col>
        <ion-col>Libro</ion-col>
        <ion-col>Fecha prestada</ion-col>
        <ion-col>Fecha de vuelta</ion-col>
      </ion-row>
      <ion-row
       *ngFor="let prestamo of PrestamosActual; let i = index">
        <ion-col class="col-content">{{ prestamo.cliente }}</ion-col>
        <ion-col class="col-content">{{ prestamo.libro }}</ion-col>
        <ion-col class="col-content">{{ prestamo.fecha_prestada }}</ion-col>
        <ion-col class="col-content">{{ prestamo.fecha_devolucion }}</ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
